<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:49032217697a2e2090f03b884de16581.share2dlink.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.time.StartTime</string>
		<string>group.cc.pp.starschasing.HomeWidget</string>
	</array>
</dict>
</plist>
